/*GENERALS*/
.clear{
    clear: both;
}
/* NAVBAR */
.anchor:before {       
    display: block !important;      
    content: " "  !important;           
    margin-top: -82px !important;             
    height: 82px !important;             
    visibility: hidden !important;       
}

.nav-center {
    text-align: center;
}

.bg-dark {
    background-color: #091823!important
}

.navbar-dark .navbar-nav .nav-link {
    color: rgb(255, 255, 255);
}

/* BODY */
body{
    background-color: #092235;
    font-family: 'Open Sans', sans-serif;
}

.container{
    background-color: white;
    padding-left: 0px;
    padding-right: 0px;
}

/* SECTIONS */

section{
    margin-top:20px;
    padding-left: 15px;
    padding-right: 15px;
}

h2{
    text-align: center;
    margin-bottom: 25px;
}

/* Section About */
.th-style th {
    background-color: #011f33;
    color: white;
    padding: 10px;
}

.table-responsive-sm{
    margin-top: 50px;
    margin-bottom: 50px;
}

/* Section Partenaires */
.top-buffer-20 {
    margin-top: 20px;
}

#web-tools a:hover {
    text-decoration: none;
}



/* BANNER */

#banner {
    position : relative;
}
  
.banner-text {
  position: absolute;
  top: 60%;
  left: 30%;
  transform: translate(-30%, -50%);
  color: white;
  font-size: 2vw;
  text-align: center;
  text-shadow: 1px 2px #999;
  width: 100%;
  background-color: rgba(51, 30, 171, 0.438);
  padding: 8px;

}

.subtitle{
    font-size: 20px;

}

/* FOOTER */

footer{
    background-color: #205175;
    margin-top:20px;
}
.social-network{
    display: flex;
    justify-content: center;
}

.social-network a {
    margin: 4px;
}

footer p{
    margin-top: 30px;
    color: white;
    display: flex;
    justify-content: center;
}


.icon {
    height: 60px;
    width: 60px;
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 50%;
    background-size: 100% auto;
}