/*
    NAVBAR
*/
.anchor:before {       
    display: block !important;      
    content: " "  !important;           
    margin-top: -82px !important;             
    height: 82px !important;             
    visibility: hidden !important;       
}

/* 
    SECTIONS
*/

section{
    margin-top:20px;
}

/*
    FOOTER
*/
footer{
    background-color: #205175;
    margin-top:20px;
}
.social-network{
    display: flex;
    justify-content: center;
}

.social-network a {
    margin: 6px;
}

footer p{
    margin-top: 30px;
    color: white;
    display: flex;
    justify-content: center;
}